
<header class="top-bar">
    <div class="topbar">

        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6 col-12 d-lg-block d-none">
                    <div class="topbar-social text-center text-md-start topbar-left">
                        <ul class="list-inline d-md-flex d-inline-block">
                            <li class="ms-10 pe-10"><a href="#"><i class="text-white fa fa-envelope"></i> info@EduAdmin.com</a></li>
                            <li class="ms-10 pe-10"><a href="#"><i class="text-white fa fa-phone"></i> +(1) 123-878-1649</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-12 xs-mb-10">
                    <div class="topbar-call text-center text-lg-end topbar-right">
                       {# <ul class="list-inline d-lg-flex justify-content-end">
                            <li class="me-10 ps-10 lng-drop">
                                <select class="header-lang-bx selectpicker">
                                    <option>USD</option>
                                    <option>EUR</option>
                                    <option>GBP</option>
                                    <option>INR</option>
                                </select>
                            </li>
                            <li class="me-10 ps-10 lng-drop">
                                <select class="header-lang-bx selectpicker">
                                    <option data-icon="flag-icon flag-icon-us">Eng USA</option>
                                    <option data-icon="flag-icon flag-icon-gb">Eng UK</option>
                                </select>
                            </li>
                            <li class="me-10 ps-10"><a href="#"><i class="text-white fa fa-user d-md-inline-block d-none"></i> Register</a></li>
                            <li class="me-10 ps-10"><a href="#"><i class="text-white fa fa-sign-in d-md-inline-block d-none"></i> Login</a></li>
                            <li class="me-10 ps-10"><a href="#"><i class="text-white fa fa-dashboard d-md-inline-block d-none"></i> My Account</a></li>
                        </ul>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav hidden class="nav-white nav-transparent">
        <div class="nav-header">
            <a href="index.html" class="brand">
                <img src="{{ asset('assets/images/logo-light-text2.png') }}" alt=""/>
            </a>
            <button class="toggle-bar">
                <span class="ti-menu"></span>
            </button>
        </div>
        <ul class="menu">
            <li >
                <a href="{{ path('default') }}">Home</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>

            <li>
                <a href="#">Partenaires</a>
            </li>
            <li class="dropdown">
                <a href="#">Categories</a>
                <ul class="dropdown-menu">
                    {% for cat in serv.listeCategorie %}
                    <li><a href="courses_list.html">{{ cat.libelle }}</a></li>
                    {% endfor %}
                  {#  <li><a href="courses_list_right_sidebar.html">Courses List Right Sidebar</a></li>
                    <li><a href="courses_list-map.html">Courses with Map</a></li>
                    <li><a href="courses_categories.html">Courses Categories</a></li>
                    <li><a href="courses_details.html">Courses Details</a></li>
                    <li><a href="courses_details_right_sidebar.html">Courses Details right sidebar</a></li>#}
                </ul>
            </li>
            <li>
                <a href="{{ path('Contact_nous') }}">Contact</a>
            </li>
        </ul>
        <ul class="attributes">
          {#  <li><a href="#" class="toggle-search-fullscreen"><span class="ti-search"></span></a></li>#}
            <li class="megamenu" data-width="270">
                <a href="#"><span class="ti-shopping-cart"></span></a>
                <div class="megamenu-content megamenu-cart">
                    <!-- Start Shopping Cart -->
                    <div class="cart-header">
                        <div class="total-price">
                            Total:  <span>$2,432.93</span>
                        </div>
                        <i class="ti-shopping-cart"></i>
                        <span class="badge">3</span>
                    </div>
                    <div class="cart-body">
                        <ul>
                            <li>
                                <img src="../images/front-end-img/product/product-1.png" alt="">
                                <h5 class="title">Lorem ipsum dolor</h5>
                                <span class="qty">Quantity: 02</span>
                                <span class="price-st">$843,12</span>
                                <a href="#" class="link"></a>
                            </li>
                            <li>
                                <img src="../images/front-end-img/product/product-2.png" alt="">
                                <h5 class="title">Lorem ipsum dolor</h5>
                                <span class="qty">Quantity: 02</span>
                                <span class="price-st">$843,12</span>
                                <a href="#" class="link"></a>
                            </li>
                            <li>
                                <img src="../images/front-end-img/product/product-3.png" alt="">
                                <h5 class="title">Lorem ipsum dolor</h5>
                                <span class="qty">Quantity: 02</span>
                                <span class="price-st">$843,12</span>
                                <a href="#" class="link"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="cart-footer">
                        <a href="#">Checkout</a>
                    </div>
                    <!-- End Shopping Cart -->
                </div>
            </li>
        </ul>

        <div class="wrap-search-fullscreen">
            <div class="container">
                <button class="close-search"><span class="ti-close"></span></button>
                <input type="text" placeholder="Search..." />
            </div>
        </div>
    </nav>
</header>

