
<header class="top-bar">
    <div class="topbar">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6 col-12 d-lg-block d-none">
                    <div class="topbar-social text-center text-md-start topbar-left">
                        <ul class="list-inline d-md-flex d-inline-block">
                            <li class="ms-10 pe-10"><a href="#"><i class="text-white fa fa-envelope"></i>contact@enig-ebm.com</a></li>
                            <li class="ms-10 pe-10"><a href="#"><i class="text-white fa fa-phone"></i>Guinée-Conakry : (+224) 621 01 48 17 / 620 34 62 54
                                    Côte d'Ivoire: (+225) 07 088 626 14</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-12 xs-mb-10">
                    <div class="topbar-call text-center text-lg-end topbar-right">

                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

