{% extends 'base.html.twig' %}

 {% block body %}

     {% include '_includes/header.html.twig' %}
     {% if serv.affichage_titre == "default" %}
         <section class="bg-img pt-200 pb-120" data-overlay="7" style=" background-image: url({{ asset('assets/header.png') }}); background-position: top center;">
             <div class="container">
                 <div class="row">
                     <div class="col-12">
                         <div class="text-center mt-80">
{#
                             <h4 class="box-title text-white mb-30">Bienvenue chez nous</h4>#}
                             <h1 class="box-title text-white mb-30">BIENVENUE CHEZ NOUS,NOUS SOMMES HEUREUX DE VOUS RENCONTRER</h1>
                         </div>

                     </div>
                 </div>
             </div>
         </section>
     {% else %}
         <section class="bg-img pt-150 pb-20" data-overlay="7" style="background-image: url({{ asset('assets/header.png') }});">
             <div class="container">
                 <div class="row">
                     <div class="col-12">
                         <div class="text-center">
                             <h2 class="page-title text-white"> {{ serv.affichage_titre |capitalize }}</h2>
                             <ol class="breadcrumb bg-transparent justify-content-center">
                                 <li class="breadcrumb-item"><a href="#" class="text-white-50"><i class="mdi mdi-home-outline"></i></a></li>
                                 {#<li class="breadcrumb-item text-white active" aria-current="page">Contact us</li>#}
                             </ol>
                         </div>
                     </div>
                 </div>
             </div>
         </section>
     {% endif %}

        {% block page_content %}

        {% endblock %}

     {% include '_includes/footer.html.twig' %}

 {% endblock %}