
<section class="bg-img pt-200 pb-120" data-overlay="7" style="background-image: url({{ asset('assets/images/front-end-img/banners/banner-1.jpg') }}); background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-80">
                    <h1 class="box-title text-white mb-30">Find Your Online Course</h1>
                </div>
                <form class="cours-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="What do you want to learn today?">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
                <div class="text-center">
                    <a href="courses_list.html" class="btn btn-outline text-white">Browse Courses List</a>
                </div>
            </div>
        </div>
    </div>
</section>