<div class="container">
    <div class="bg-img box box-body py-50" style="background-image: url({{ asset('assets/images/front-end-img/background/bg-4.jpg') }})" data-overlay="7">
        <div class="text-center">
            <h1 class="box-title text-white">Aucuns elements trouvé dans la base de données</h1>
        </div>

    </div>
</div>

